@import "config"; // Always at the beginning
@import "header";
@import "footer";
@import "modal";
@import "mobile-menu";
@import "contacts-menu";
@import "fancybox";

// content
.content {
    font-size: 16px;
    color: $primary-color;
    & > * {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        line-height: 1.6;
    }
    b, strong {
        font-weight: 600;
    }
    h1, h2, h3, h4, h5, h6 {
        &:not(:first-child) {
            margin-top: 2em;
        }
        margin-bottom: 1em;
    }
    h1 {
        font-size: 2.5em;
    }
    h3, h4, h5, h6 {
        font-size: 1em;
    }
    ul, ol {
        margin-left: 17px;
    }
    ul,
    ol,
    li {
        display: list-item;
        list-style: disc;
    }
    li {
        line-height: 1.6;
    }

    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.content + .content {
    margin-top: 1em;
}

.quote {
    font-style: italic;
    color: $gold-color;
}

// main
.main {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 767px) {
            justify-content: flex-end;
        }
    }
    &__offer {
        position: relative;
        z-index: 1;
        margin-top: calc(var(--headerh) + 39px);
        padding: 60px 0;

        @media screen and (max-width: 1199px) {
            margin-top: var(--headerh);
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 100px 0;
        }
        @media screen and (max-width: 767px) {
            margin-top: calc(var(--headerh) + 400px);
        }
    }
    &__heading {
        margin-bottom: 10px;
        font-size: 35px;
        text-transform: uppercase;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 5px;
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 5px;
            font-size: 16px;
        }
    }
    &__title {
        &--sm {
            font-size: 75px;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 44px;
        }
        @media screen and (max-width: 767px) {
            font-size: 34px;
        }
        @media screen and (max-width: 359px) {
            font-size: 26px;
        }
    }
    &__title--sm + &__description {
        margin-top: 40px;
    }
    &__description {
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: $black-color;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 20px;
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 10px;
            font-size: 14px;
        }
    }
    &__text {
        margin-top: 20px;
        max-width: 522px;
        width: 100%;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-width: 344px;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__inner {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__btn {
        margin-top: 50px;

        @media screen and (max-width: 767px) {
            margin-top: 30px;
            width: calc(100% - 10px);
        }
    }
    &__btn + &__btn {
        margin-left: 12px;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
            margin-left: 0;
        }
    }
    &__switch {
        margin-top: 55px;

        @media screen and (max-width: 1023px) {
            margin-top: 60px;
        }
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        & > img {
            min-height: 100vh;
            height: var(--mainh);
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.91%);
        }
        
        @media screen and (max-width: 1199px) {
            top: var(--headerh);
            & > img {
                min-height: auto;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            right: -30px;
            & > img {
                height: calc(var(--mainh) - var(--headerh));
            }
        }
        @media screen and (max-width: 767px) {
            right: -20px;
            left: -20px;
            width: calc(100% + 40px);
            & > img {
                width: 100vw;
                height: auto;
            }
        }
    }
}

// personal history
.personal-history {
    &--mt {
        margin-top: 120px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        &--mt {
            margin-bottom: 100px;
        }
    }
    @media screen and (max-width: 767px) {
        &--mt {
            margin-top: 80px;
        }
    }

    &__heading {
        margin-bottom: 45px;

        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &__wrapper {
        @media screen and (min-width: 1024px) {
            display: flex;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 0 50%;
    }
    &__right {
        flex: 0 0 40%;
        margin-left: 10%;

        @media screen and (max-width: 1023px) {
            margin-left: 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 60px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 50px;
        }
    }
    &__list {
        position: relative;
        padding-left: 29px;
        counter-reset: story-counter;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 14.5px;
            display: block;
            width: 1px;
            height: 100%;
            border-left: 1px dashed $gold-color;
        }

        @media screen and (max-width: 1023px) {
            max-width: 488px;
            width: 100%;
        }
    }
    &__item {
        position: relative;
        padding-left: 24px;
        &::before {
            counter-increment: story-counter;
            content: counter(story-counter);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 29px;
            height: 29px;
            font-size: 18px;
            font-weight: bold;
            color: $white-color;
            background: $gold-color;
            border-radius: 50%;
        }
        &:last-child {
            &::after {
                content: '';
                position: absolute;
                top: 29px;
                left: -14.5px;
                z-index: 1;
                display: block;
                width: 1px;
                height: calc(100% - 29px);
                background: $white-color;
            }
        }
    }
    &__item + &__item {
        margin-top: 30px;
    }
    &__subtitle {
        font-size: 24px;
        span {
            font-size: 18px;
        }

        @media screen and (max-width: 767px) {
            font-size: 18px;
            span {
                font-size: 14px;
            }
        }
    }
    &__description {
        margin-top: 6px;

        @media screen and (max-width: 767px) {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}

// course author
.course-author {
    margin-top: 155px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__wrapper {
        display: flex;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__img {
        position: relative;
        margin-right: 18px;
        margin-bottom: 18px;
        min-width: 382px;
        height: 100%;
        border-radius: 2px;
        &::before {
            content: '';
            position: absolute;
            bottom: -18px;
            right: -18px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid $gold-color;
            border-radius: 2px;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-right: 10px;
            margin-bottom: 10px;
            min-width: 212px;
            &::before {
                right: -10px;
                bottom: -10px;
            }
        }
        @media screen and (max-width: 767px) {
            margin-right: 15px;
            margin-bottom: 15px;
            max-width: calc(100% - 15px);
            min-width: auto;
            &::before {
                right: -15px;
                bottom: -15px;
                width: calc(100% - 3px);
            }
        }
    }
    &__body {
        margin-left: 120px;
        padding: 33px 0;

        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            margin-left: 60px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 3px 0;
            margin-left: 30px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 40px;
            margin-left: 0;
            padding: 0;
        }
    }
    &__title {
        margin-bottom: 38px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 25px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }
    &__list {
        display: flex;
        align-items: flex-start;
        margin-top: 54px;
        color: $gold-color;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            justify-content: space-between;
            margin-top: 35px;
        }
        @media screen and (max-width: 767px) {
            justify-content: space-between;
            margin-top: 30px;
        }
    }
    &__item + &__item {
        margin-left: 70px;
        
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-left: 30px;
        }
        @media screen and (max-width: 767px) {
            margin-left: 20px;
        }
    }
    &__amount {
        display: block;
        font-size: 52px;
        font-weight: 800;
        letter-spacing: 0.05em;

        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    &__help {
        display: block;
        font-size: 16px;
        font-weight: 600;

        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
}

// trainings
.trainings {
    margin-top: 70px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 60px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 50px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 24px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 767px) {
            width: 33.33333%;
            &:nth-child(n + 4) {
                margin-top: 16px;
            }
        }
    }
}

// authors courses
.authors-courses {
    margin-top: 130px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__heading {
        margin-bottom: 50px;

        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
        display: block;
        flex: 0 0 48%;
        margin-bottom: 20px;
        background: $white-color;
        border-radius: 2px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        &:nth-child(odd) {
            &::before {
                content: '';
                position: absolute;
                left: 20px;
                bottom: -20px;
                z-index: -1;
                display: block;
                width: calc(100% - 40px);
                height: 100%;
                border: 2px solid $gold-color;
                border-radius: 2px;
            }
        }
        &:nth-child(even) {
            &::before {
                content: '';
                position: absolute;
                top: -20px;
                right: -20px;
                z-index: -1;
                display: block;
                width: calc(100% - 40px);
                height: 100%;
                border: 2px solid $gold-color;
                border-radius: 2px;
            }
        }
        &:nth-child(2n) {
            margin-left: 4%;
        }
        &:nth-child(n + 3) {
            margin-top: 40px;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 0;
            &:nth-child(odd) {
                &::before {
                    top: 40px;
                }
            }
            &:nth-child(even) {
                &::before {
                    right: 20px;
                    width: calc(100% - 40px);
                }
            }
            &:nth-child(n + 3) {
                margin-top: 20px;
            }
            &:nth-child(2n + 4) {
                &::before {
                    top: -40px;
                }
            }
            &:nth-last-child(2) {
                &::before {
                    top: 20px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            flex: 1 1 100%;
            margin-bottom: 0;
            &:nth-child(even) {
                &::before {
                    top: 20px;
                    right: 20px;
                    width: calc(100% - 40px);
                }
            }
            &:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
    &__item + &__item {
        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__body {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 24px 40px 40px;
        height: 100%;
        background: $white-color;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 20px 20px 40px 20px;
        }
        @media screen and (max-width: 767px) {
            padding: 20px 20px 40px 20px;
        }
    }
    &__help {
        display: block;
        min-height: 26px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        text-align: right;
        color: $grey-color;

        @media screen and (max-width: 767px) {
            margin-left: auto;
            max-width: calc(100% - 90px);
            min-height: 40px;
            font-size: 14px;
            & > span {
                display: block;
            }
        }
    }
    &__icon {
        margin-bottom: 26px;
        width: 45px;
        height: 45px;

        @media screen and (max-width: 767px) {
            margin-top: -40px;
            margin-bottom: 30px;
        }
    }
    &__subtitle {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $gold-color;

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }
    &__title {
        font-size: 24px;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    &__description {
        margin-top: 26px;

        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__btn {
        margin-top: 56px;

        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
}

// mini courses
.mini-courses {
    margin-top: 110px;
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1199px) {
            flex-direction: column;
        }
    }
    &__block {
        margin-right: 20px;
        max-width: 260px;
        width: 100%;

        @media screen and (max-width: 1199px) {
            margin-right: 0;
            margin-bottom: 60px;
            max-width: 488px;
        }
    }
    &__slider {
        margin: -20px -10px;

        .swiper-slide {
            width: 300px;
            &:nth-child(odd) {
                .mini-courses__slide {
                    &::before {
                        content: '';
                        position: absolute;
                        top: -20px;
                        left: 20px;
                        z-index: -1;
                        display: block;
                        width: calc(100% - 40px);
                        height: 100%;
                        border: 2px solid $gold-color;
                        border-radius: 2px;
                    }
                }
            }
            &:nth-child(even) {
                .mini-courses__slide {
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: 20px;
                        z-index: -1;
                        display: block;
                        width: calc(100% - 40px);
                        height: 100%;
                        border: 2px solid $gold-color;
                        border-radius: 2px;
                    }
                }
            }
        }
        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 0.3;
            background: $gold-color;
            border-radius: 50%;
        }
        .swiper-pagination-bullet + .swiper-pagination-bullet {
            margin-left: 10px;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }

        @media screen and (max-width: 1199px) {
            .swiper-container {
                padding: 0 10px;
            }
        }
        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            .swiper-wrapper {
                justify-content: space-between;
            }
            .swiper-slide {
                width: 32%;
            }
        }
        @media screen and (min-width: 768px) {
            .swiper-pagination {
                display: none;
            }
        }
        @media screen and (max-width: 767px) {
            .swiper-slide {
                &:nth-child(even) {
                    .mini-courses__slide {
                        &::before {
                            top: -20px;
                            bottom: auto;
                        }
                    }
                }
            }
        }
    }
    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 10px;
        padding: 30px 25px;
        background: $white-color;
        border-radius: 2px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

        @media screen and (max-width: 1199px) {
            margin: 20px 0;
        }
    }
    &__item + &__item {
        margin-left: 19px;
    }
    &__theme {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 500;
        color: $gold-color;

        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
            font-size: 14px;
        }
    }
    &__title {
        font-size: 35px;
        font-weight: 800;
        line-height: 1.6;

        @media screen and (max-width: 767px) {
            font-size: 30px;
        }
    }
    &__subtitle {
        margin-top: 9px;
        font-size: 18px;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            margin-top: 15px;
            font-size: 16px;
        }
    }
    &__text {
        margin-top: 25px;

        @media screen and (max-width: 767px) {
            margin-top: 10px;
        }
    }
    &__help {
        display: block;
        margin-top: 46px;
        font-size: 12px;
        font-weight: normal;
        color: rgba($primary-color, 0.5);

        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    &__btn {
        margin-top: 10px;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}

// reviews
.reviews {
    &--mt {
        margin-top: 130px;
    }

    @media screen and (max-width: 767px) {
        &--mt {
            margin-top: 90px;
        }
    }

    &__slider {
        position: relative;
        margin: -10px;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 0.3;
            background: $gold-color;
            border-radius: 50%;
        }
        .swiper-pagination-bullet + .swiper-pagination-bullet {
            margin-left: 10px;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background: transparent;
            border: 2px solid $gold-color;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
            &:focus {
                outline: none;
            }
            &:hover,
            &:focus-visible {
                border: 2px solid $light-gold-color;
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translate(-100%, -50%);
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translate(100%, -50%);
        }
        .swiper-button-icon {
            width: 14px;
            height: 14px;
        }

        @media screen and (max-width: 1359px) {
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: calc(50% - 50vw);
            .swiper-slide {
                width: 380px;
            }
        }
        @media screen and (min-width: 768px) {
            .swiper-pagination {
                display: none;
            }
        }
    }
    &__slide {
        margin: 10px;
        padding: 25px 25px 30px 25px;
        background: $white-color;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
    }
    &__top {
        display: flex;
        align-items: center;
    }
    &__img {
        margin-right: 25px;
        overflow: hidden;
        width: 60px;
        height: 60px;
        background: #C4C4C4;
        border-radius: 50%;
    }
    &__name {
        font-size: 18px;
    }
    &__login {
        display: block;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 500;
        &::before {
            content: '';
            display: inline-block;
            margin-top: -3px;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            background-image: url(../img/dist/sprite.svg#icon-instagram);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
    &__body {
        margin-top: 34px;
    }
    &__more {
        position: relative;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 600;
        color: $gold-color;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 2px;
            left: 0;
            width: 100%;
            height: 1px;
            transition: background 0.2s ease-in-out;
        }
        &:hover {
            &::before {
                background: $gold-color;
            }
        }
    }
}

// media content
.media-content {
    margin-top: 90px;
    &__slider {
        position: relative;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 0.3;
            background: $gold-color;
            border-radius: 50%;
        }
        .swiper-pagination-bullet + .swiper-pagination-bullet {
            margin-left: 10px;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background: transparent;
            border: 2px solid $gold-color;
            border-radius: 50%;
            &:focus {
                outline: none;
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translate(-100%, -50%);
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translate(100%, -50%);
        }
        .swiper-button-icon {
            width: 14px;
            height: 14px;
        }

        @media screen and (max-width: 1359px) {
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: calc(50% - 50vw);
            .swiper-slide {
                width: 280px;
            }
        }
        @media screen and (min-width: 768px) {
            .swiper-pagination {
                display: none;
            }
        }
    }
    &__image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 200px;
        border-radius: 2px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba($primary-color, 0.6);
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            display: block;
            width: 60px;
            height: 60px;
            background-image: url(../img/dist/sprite.svg#icon-play);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        & > img {
            display: block;
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        @media screen and (max-width: 767px) {
            height: 240px;
            & > img {
                height: 240px;
            }
        }
    }
    &__subtitle {
        margin-top: 14px;
        font-size: 18px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

// feedback
.feedback {
    margin-top: 130px;

    @media screen and (min-width: 1024px) {
        position: relative;
        z-index: 2;
        margin-bottom: -53px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    &__form {
        position: relative;
        padding: 80px 100px 50px 70px;
        background: $white-color;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        &::before {
            content: '';
            position: absolute;
            top: 10px;
            right: -20px;
            z-index: -1;
            display: block;
            width: 100%;
            height: calc(100% - 63px);
            border-top: 2px solid $gold-color;
            border-right: 2px solid $gold-color;
            border-radius: 0 2px 0 0;
        }

        @media screen and (max-width: 1023px) {
            &::before {
                top: auto;
                bottom: -30px;
                height: 30px;
                border-top: none;
                border-left: 2px solid $gold-color;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 40px 40px 60px 40px;
            &::before {
                right: 30px;
                width: calc(100% - 60px);
            }
        }
        @media screen and (max-width: 767px) {
            padding: 30px 20px 40px 20px;
            &::before {
                right: 20px;
                width: calc(100% - 40px);
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &--column {
            flex-direction: column;
            .feedback__right {
                margin-top: 50px;
                margin-left: 0;
            }
        }

        @media screen and (max-width: 1023px) {
            flex-direction: column;
        }
        @media screen and (max-width: 767px) {
            &--column {
                .feedback__right {
                    margin-top: 20px;
                }
            }
        }
    }
    &__left {
        max-width: 435px;
        width: 100%;
    }
    &__right {
        width: 100%;
        margin-left: 85px;

        @media screen and (max-width: 1023px) {
            margin-top: 40px;
            margin-left: 0;
        }
    }
    &__heading {
        margin-bottom: 35px;

        @media screen and (max-width: 1023px) {
            margin-bottom: 25px;
        }
    }
    &__help {
        display: block;
        margin-top: 40px;
        font-size: 12px;
        font-weight: normal;

        @media screen and (max-width: 767px) {
            margin-top: 25px;
        }
    }
}

.feedback-form {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__inner + &__inner {
        margin-top: 50px;

        @media screen and (max-width: 767px) {
            margin-top: 35px;
        }
    }
    &__input {
        width: 100%;
    }
    &__input + &__input {
        margin-left: 20px;

        @media screen and (max-width: 767px) {
            margin-top: 35px;
            margin-left: 0;
        }
    }
    &__btn {
        margin-top: 50px;
    }
}

// about
.about {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__heading {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 35px;
        }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        @media screen and (min-width: 1024px) {
            flex: 0 0 44%;
            &:nth-child(2n) {
                margin-left: 12%;
            }
            &:nth-child(n + 3) {
                margin-top: 60px;
            }
        }
        @media screen and (max-width: 1023px) {
            width: 100%;
        }
    }
    &__item + &__item {
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 70px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    &__icon {
        margin-bottom: 35px;
    }
    &__content {
        margin-top: 20px;
    }
}

// author quote
.author-quote {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__img {
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
        max-width: 480px;
        min-width: 480px;
        height: 100%;
        border-radius: 2px;
        &::before {
            content: '';
            position: absolute;
            bottom: -20px;
            right: -20px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid $gold-color;
            border-radius: 2px;
        }

        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            max-width: 360px;
            min-width: 360px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-right: 10px;
            margin-bottom: 10px;
            max-width: 212px;
            min-width: 212px;
            &::before {
                right: -10px;
                bottom: -10px;
            }
        }
        @media screen and (max-width: 767px) {
            margin-right: 15px;
            margin-bottom: 15px;
            max-width: calc(100% - 15px);
            min-width: auto;
            &::before {
                right: -15px;
                bottom: -15px;
                width: calc(100% - 3px);
            }
        }
    }
    &__body {
        margin: 0 auto;
        padding-left: 20px;

        @media screen and (max-width: 767px) {
            margin: 20px 0 0;
            padding-left: 0;
        }
    }
    &__content {
        position: relative;
        margin: 0 88px;
        max-width: 404px;
        color: $gold-color;
        &::before {
            content: '';
            position: absolute;
            top: -26px;
            left: -13px;
            transform: translate(-100%, -100%);
            display: block;
            width: 75px;
            height: 54px;
            background-image: url(../img/dist/sprite.svg#icon-quote-top);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &::after {
            content: '';
            position: absolute;
            right: -13px;
            bottom: -40px;
            transform: translate(100%, 100%);
            display: block;
            width: 75px;
            height: 54px;
            background-image: url(../img/dist/sprite.svg#icon-quote-bottom);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        p {
            font-style: italic;
        }

        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            &::before,
            &::after {
                width: 60px;
                height: 44px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin: 17px 0 0;
            max-width: 465px;
            &::before,
            &::after {
                width: 27px;
                height: 20px;
            }
            &::before {
                top: -17px;
                left: 0;
                transform: translate(0, -100%);
            }
            &::after {
                bottom: -17px;
                right: 0;
                transform: translate(0, 100%);
            }
        }
        @media screen and (max-width: 767px) {
            margin: 42px 0;
            max-width: 100%;
            &::before,
            &::after {
                width: 34px;
                height: 25px;
            }
            &::before {
                top: -17px;
                left: 0;
                transform: translate(0, -100%);
            }
            &::after {
                bottom: -17px;
                right: 0;
                transform: translate(0, 100%);
            }
        }
    }
}

// personal effectiveness
.personal-effectiveness {
    margin-top: 60px;
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }

    &__content {
        max-width: 864px;
        width: 100%;
    }
}

// personal course
.personal-course {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1023px) {
            flex-direction: column;
            &--reverse {
                flex-direction: column-reverse;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            &--reverse {
                .personal-course__right {
                    margin-top: 0;
                    margin-bottom: 70px;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &--reverse {
                .personal-course__right {
                    margin-top: 0;
                    margin-bottom: 40px;
                }
            }
        }
    }
    &__right {
        @media screen and (min-width: 1024px) {
            margin-left: 40px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 70px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    &__list {
        max-width: 477px;
        width: 100%;
    }
    &__item + &__item {
        margin-top: 30px;

        @media screen and (max-width: 767px) {
            margin-top: 25px;
        }
    }
    &__item {
        display: flex;
        align-items: flex-start;
        &::before {
            content: '';
            display: block;
            margin-top: 3px;
            margin-right: 24px;
            max-width: 13px;
            max-height: 13px;
            min-width: 13px;
            min-height: 13px;
            background: $gold-color;
            border-radius: 50%;
        }
    }
    &__img {
        position: relative;
        margin-right: 25px;
        margin-bottom: 25px;
        max-width: 476px;
        min-width: 476px;
        border-radius: 2px;
        &::before {
            content: '';
            position: absolute;
            right: -25px;
            bottom: -25px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid $gold-color;
            border-radius: 2px;
        }

        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            max-width: 360px;
            min-width: 360px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-right: 20px;
            margin-bottom: 20px;
            max-width: calc(100% - 20px);
            min-width: calc(100% - 20px);
            &::before {
                right: -20px;
                bottom: -20px;
            }
        }
        @media screen and (max-width: 767px) {
            margin-right: 15px;
            margin-bottom: 15px;
            max-width: calc(100% - 15px);
            min-width: auto;
            &::before {
                right: -15px;
                bottom: -15px;
                width: calc(100% - 3px);
            }
        }
    }
}

// programm
.programm {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__heading {
        margin-bottom: 50px;

        @media screen and (max-width: 1023px) {
            margin-bottom: 25px;
        }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        counter-reset: course-counter;

        @media screen and (max-width: 767px) {
            &--hidden {
                .programm__item {
                    &:nth-child(n + 3) {
                        display: none;
                    }
                }
            }
        }
    }
    &__item {
        position: relative;
        padding-left: 53px;
        &::before {
            counter-increment: course-counter;
            content: counter(course-counter);
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 29px;
            height: 29px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1;
            color: $white-color;
            background: $gold-color;
            border-radius: 50%;
        }
        &:nth-child(n + 10) {
            &::before {
                padding-left: 1px;
            }
        }
        @media screen and (min-width: 1024px) {
            flex: 0 0 48%;
            &:nth-child(2n) {
                margin-left: 4%;
            }
            &:nth-child(n + 3) {
                margin-top: 60px;
            }
        }
        @media screen and (max-width: 1023px) {
            max-width: 585px;
            width: 100%;
        }
        @media screen and (max-width: 767px) {
            padding-left: 44px;
        }
    }
    &__item + &__item {
        @media screen and (max-width: 1023px) {
            margin-top: 30px;
        }
    }
    &__title {
        font-size: 20px;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    &__content {
        margin-top: 15px;

        @media screen and (max-width: 767px) {
            margin-top: 5px;
        }
    }
    &__more {
        margin-top: 25px;
        margin-left: 44px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.6;
        color: $gold-color;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

// rates
.rates {
    padding-right: 20px;
    padding-bottom: 22px;

    @media screen and (max-width: 767px) {
        padding-right: 0;
        padding-bottom: 0;
    }

    &__wrapper {
        position: relative;
        padding: 52px 40px;
        max-width: 526px;
        width: 100%;
        border: 2px solid $gold-color;
        background: $white-color;
        border-radius: 2px;
        &::before {
            content: '';
            position: absolute;
            right: -20px;
            bottom: -22px;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            border: 2px solid $gold-color;
            border-radius: 2px;
        }

        @media screen and (max-width: 1023px) {
            padding: 40px 40px 50px 40px;
            max-width: 100%;
        }
        @media screen and (max-width: 767px) {
            &::before {
                right: 20px;
                bottom: -10px;
                width: calc(100% - 40px);
            }
        }
    }
    &__title {
        color: $gold-color;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 48%;
        &:nth-child(2n) {
            margin-left: 4%;
        }
        &:nth-child(n + 3) {
            margin-top: 40px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            &:nth-child(2n) {
                margin-left: 0;
            }
        }
    }
    &__item + &__item {
        @media screen and (max-width: 767px) {
            margin-top: 25px;
        }
    }
    &__subtitle {
        font-size: 20px;

        @media screen and (max-width: 767px) {
            font-size: 18px;
        }
    }
    &__help {
        display: block;
        margin-top: 5px;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.6;

        @media screen and (max-width: 767px) {
            margin-top: 7px;
            font-size: 14px;
        }
    }
}

// video
.video {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 100px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__wrapper {
        width: 100%;
        height: 664px;

        @media screen and (min-width: 1024px) and (max-width: 1199px) {
            height: 564px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 400px;
        }
        @media screen and (min-width: 576px) and (max-width: 767px) {
            height: 348px;
        }
        @media screen and (max-width: 575px) {
            height: 248px;
        }
    }
    &__promo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 50px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 2px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba($primary-color, 0.3);
            border-radius: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            display: block;
            width: 91px;
            height: 91px;
            background-color: rgba($white-color, 0.9);
            background-image: url(../img/dist/sprite.svg#icon-play);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
        }
        &--hidden {
            display: none;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding: 30px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
            padding: 0;
            &::after {
                width: 55px;
                height: 55px;
            }
        }
        @media screen and (min-width: 576px) and (max-width: 767px) {
            height: 290px;
        }
        @media screen and (max-width: 575px) {
            height: 190px;
        }
    }
    &__title {
        position: relative;
        z-index: 1;
        font-size: 24px;
        font-weight: bold;
        color: $white-color;

        @media screen and (max-width: 767px) {
            transform: translateY(100%);
            padding-top: 15px;
            font-size: 18px;
            font-weight: 600;
            overflow: hidden;
            display: -webkit-box;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            box-orient: vertical;
            text-overflow: ellipsis;;
            color: $primary-color;
        }
    }
    &__iframe {
        display: none;
        width: 100%;
        height: 100%;
        &--visible {
            display: block;
        }
    }
}

// gallery
.gallery {
    margin-top: 150px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }

    &__slider {
        position: relative;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            opacity: 0.3;
            background: $gold-color;
            border-radius: 50%;
        }
        .swiper-pagination-bullet + .swiper-pagination-bullet {
            margin-left: 10px;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
        .swiper-button-prev,
        .swiper-button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background: transparent;
            border: 2px solid $gold-color;
            border-radius: 50%;
            &:focus {
                outline: none;
            }
        }
        .swiper-button-prev {
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translate(-100%, -50%);
        }
        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translate(100%, -50%);
        }
        .swiper-button-icon {
            width: 14px;
            height: 14px;
        }

        @media screen and (max-width: 1359px) {
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: calc(50% - 50vw);
            .swiper-slide {
                width: 280px;
            }
        }
        @media screen and (min-width: 768px) {
            .swiper-pagination {
                display: none;
            }
        }
    }
}

// socials
.socials {
    display: flex;
    align-items: center;
    &__item {
        &--active {
            .socials__icon {
                color: $gold-color;
            }
        }
    }
    &__item + &__item {
        margin-left: 15px;
    }
    &__link {
        display: block;
        &:focus {
            outline: none;
        }
        &:focus-visible,
        &:hover {
            .socials__icon {
                color: $gold-color;
            }
        }
    }
    &__icon {
        width: 30px;
        height: 30px;
        color: $primary-color;
    }
}